section.about(id="about")
   .about__background
   img.about__image(src=require("../../images/img/about-image.png"), alt="О Кузня fight")
   .about__container
      h2.about__title КУЙ ЖЕЛЕЗО, 
         br
         span.about__title-span ПОКА ГОРЯЧО
      .about__container-contant
         .about__container-inner
            p.about__text
               | Клуб 'Кузня Fight' предлагает профессиональные тренировки по ММА, боевому самбо и панкратиону. Наши тренеры готовы поддержать вас на каждом шагу вашего пути в единоборствах. Мы гордимся тем, что наши ученики становятся чемпионами области, что доказывает эффективность нашего подхода к обучению.
            p.about__text
               | Мы создаем дружелюбную и поддерживающую атмосферу. Здесь вы найдете не только тренировки, но и различные мероприятия, такие как новогодние елки, выезды в спортивные лагеря и дружеские игры в футбол по выходным. Мы верим, что такие активности помогают нашим ученикам чувствовать себя частью большого и дружного коллектива.
            p.about__text
               | Приходите в 'Кузню Fight', чтобы улучшить свои навыки, найти новых друзей и достигнуть новых высот в единоборствах!
