section.contact(id="contact")
   .contact__container
      .contact__container-info
         h2.contact__title ЖДЁМ ВАС 
            br 
            span.contact__title-span НА ТРЕНИРОВКЕ
         a.contact__phone(href="tel:+79134360007" rel="nofollow") +7(913) 436-00-07
         p.contact__address г. Новокузнецк, Климасенко 19
         p.contact__working-hours Пн-Сб с 9:00 до 23:00
         a.contact__email(href="mailto:info@kuznyafight.ru" target="_blank" rel="nofollow") info@kuznyafight.ru
         .contact__social-links
            a.contact__link(href="https://vk.com/kuznya.fighting" target="_blank" rel="nofollow")
               img.contact__social-icon(src=require("../../images/icons/social-icons/social-icon-001.svg"), alt="vkontakte")
            a.contact__link(href="https://t.me/+79134360007" target="_blank" rel="nofollow")
               img.contact__social-icon(src=require("../../images/icons/social-icons/social-icon-002.svg"), alt="telegram")
            a.contact__link(href="https://wa.me/+79134360007" target="_blank" rel="nofollow")
               img.contact__social-icon(src=require("../../images/icons/social-icons/social-icon-003.svg"), alt="whatsap")
         .contact__cta
            a.contact__cta-button.promo__cta-button(href="#contact-form")
               span.promo__cta-inner.modal-btn Бесплатное занятие
                  svg.cta-svg(width="270" height="70" viewBox="0 0 270 70" fill="none" xmlns="http://www.w3.org/2000/svg")
                     path(d="M2.83705 9.3339C3.1337 4.05324 7.52046 -0.0587872 12.7939 0.000635961L257.504 2.75815C262.673 2.81639 266.919 6.86654 267.237 12.0403L269.981 56.7641C270.327 62.4119 265.887 67.1995 260.246 67.2612L9.9695 69.9994C4.26286 70.0619 -0.30507 65.268 0.0159439 59.5535L2.83705 9.3339Z")
      .contact__background
      .contact__map
         div(style="position:relative;overflow:hidden;")
            a(href="https://yandex.ru/maps/237/novokuznetsk/?utm_medium=mapframe&utm_source=maps", style="color:#eee;font-size:12px;position:absolute;top:0px;") Новокузнецк
            a(href="https://yandex.ru/maps/237/novokuznetsk/house/ulitsa_klimasenko_19/bE4YdwFnSk0BQFtpfXRyeHthZw==/?ll=87.167385%2C53.839723&utm_medium=mapframe&utm_source=maps&z=16.75", style="color:#eee;font-size:12px;position:absolute;top:14px;" rel="nofollow") Улица Климасенко, 19 — Яндекс Карты
            iframe(src="https://yandex.ru/map-widget/v1/?ll=87.167385%2C53.839723&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzAyOTk4NBJw0KDQvtGB0YHQuNGPLCDQmtC10LzQtdGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQndC-0LLQvtC60YPQt9C90LXRhtC6LCDRg9C70LjRhtCwINCa0LvQuNC80LDRgdC10L3QutC-LCAxOSIKDbRVrkIV4FtXQg%2C%2C&z=16.75", frameborder="1", allowfullscreen="true", style="position:relative;" rel="nofollow")
