section.contact-form
   .contact-form__background
   img.contact-form__image(src=require("../../images/img/contact-image.png"), alt="Контактная форма")
   .contact-form__container 
      .contact-form__content 
         h2.contact-form__title СДЕЛАЙТЕ, 
            br
            span.contact-form__title-span ПЕРВЫЙ ШАГ 
         p.contact-form__subtitle к здоровому телу и закалённому характеру — запишитесь на бесплатное пробное занятие
      form.contact-form__form(action="#") 
         .contact-form__input-group 
            input.contact-form__input(type="text" name="name" placeholder="Имя" required)
         .contact-form__input-group
            input.contact-form__input(type="tel" name="phone" placeholder="Телефон" required)
         .contact-form__input-group
            textarea.contact-form__textarea(name="comment" placeholder="Комментарий" rows="4")
         .contact-form__submit-container
            .contact-form__input-check
               input.contact-form__checkbox(type="checkbox" name="agreement" id="agreement" required)
               label.contact-form__checkbox-label(for="agreement") Я согласен с обработкой моих 
                  a.privacy__link-form(href="privacy.html") 
                     br 
                     span персональных данных
            button.contact-form__submit.promo__cta-button(type="submit") 
               span.promo__cta-inner ЗАПИСАТЬСЯ
                  svg.cta-svg(width="270" height="70" viewBox="0 0 270 70" fill="none" xmlns="http://www.w3.org/2000/svg")
                     path(d="M2.83705 9.3339C3.1337 4.05324 7.52046 -0.0587872 12.7939 0.000635961L257.504 2.75815C262.673 2.81639 266.919 6.86654 267.237 12.0403L269.981 56.7641C270.327 62.4119 265.887 67.1995 260.246 67.2612L9.9695 69.9994C4.26286 70.0619 -0.30507 65.268 0.0159439 59.5535L2.83705 9.3339Z")
