section.how-we-do
   .container.how-we-do__container
      h2.how-we-do__title.title Как мы это делаем

      .how-we-do__grid
         .how-we-do__blocks
            article.how-we-do__block
               .how-we-do__block-icon
               .how-we-do__block-description
                  h3.how-we-do__block-title Понимаем ваш бизнес
                  p.how-we-do__block-text Вас выслушаем и узнаем, что вам нужно от сайта. Если вы не знаете, то поможем вам разобраться

            article.how-we-do__block
               .how-we-do__block-icon
               .how-we-do__block-description
                  h3.how-we-do__block-title Планируем и изучаем спрос
                  p.how-we-do__block-text Создадим прототип сайта и определим, как люди будут его искать в интернете

            article.how-we-do__block
               .how-we-do__block-icon
               .how-we-do__block-description
                  h3.how-we-do__block-title Создаем дизайн
                  p.how-we-do__block-text Делаем привлекательный визуал вашего сайта, который точно вызовет интерес и разработаем уникальный дизайн

         .how-we-do__details
            .how-we-do__details-container
               article.how-we-do__detail
                  h3.how-we-do__detail-title.how-we-do__detail-subtitle Делаем сайт 
                     span
                        |работающим
                  p.how-we-do__detail-text Гарантируем, что ваш сайт будет хорошо работать на всех устройствах и выполнять все нужные функции для вашего бизнеса

               article.how-we-do__detail
                  h3.how-we-do__detail-title Узнайте какой сайт подходит для вашего бизнеса
                  .how-we-do__detail-btn
                     a.how-we-do-order.link-btn.modal-btn(href="#") Бесплатная консультация
                     .how-we-do-shadow

            .how-we-do__image-container
               img.how-we-do__image(src=require("../../images/img/how-we-do.png"), alt="image company")

         .how-we-do__quote
            p.how-we-do__blockquote Мы также предлагаем услуги по дальнейшему продвижению вашего сайта в интернете, чтобы привлечь больше клиентов и увеличить вашу видимость в сети