section.develop#development
   .container.develop__container
      h2.develop__title.title Создадим сайт
      .develop__cards
         .card.develop__card
            .card__header
               .card__header-tarif
                  h3.card__title Лендинг
                  .card__header-descr
                     p.card__info Одностраничный сайт
                     p.card__time от 10 дней
               .card__hr 
               p.card__for Для тех, кто хочет быстро начать продажи
            .card__body
               p.card__price от 20 000 ₽
               .card__price-container
                  a.card__button.card__button-order.modal-btn(href="#") Заказать
                  .card__button-shadow
               //- a.card__button.card__button-details(href="#") Подробнее
            .card__before

         .card.develop__card
            .card__header
               .card__header-tarif
                  h3.card__title Сайт-бизнес
                  .card__header-descr
                     p.card__info Многостраничный сайт
                     p.card__time от 15 дней
               .card__hr 
               p.card__for Для бизнесов, стремящихся детально представить широкий спектр своих услуг и продуктов
            .card__body
               p.card__price от 30 000 ₽
               .card__price-container
                  a.card__button.card__button-order.modal-btn(href="#") Заказать
                  .card__button-shadow
               //- a.card__button.card__button-details(href="#") Подробнее
            .card__before

         .card.develop__card
            .card__header
               .card__header-tarif
                  h3.card__title Интернет-магазин
                  .card__header-descr
                     p.card__info Сайт для онлайн продаж
                     p.card__time от 20 дней
               .card__hr 
               p.card__for Для компаний, желающих масштабировать свои продажи онлайн, предлагая полный каталог товаров с удобной системой покупки
            .card__body
               p.card__price от 60 000 ₽
               .card__price-container
                  a.card__button.card__button-order.modal-btn(href="#") Заказать
                  .card__button-shadow
               //- a.card__button.card__button-details(href="#") Подробнее
            .card__before

      .develop__benefits
         h3.develop__benefit-title Вы получите:
         .develop__benefit-grid
            .develop__benefit-item
               span.develop__benefit-number 1
               p.develop__benefit-text Современный сайт
            .develop__benefit-item
               span.develop__benefit-number 2
               p.develop__benefit-text Повышение узнаваемости
            .develop__benefit-item
               span.develop__benefit-number 3
               p.develop__benefit-text 24/7 доступ к вашим товаром и услугам
