section.faq(id="faq")
   .faq__container
      h2.faq__title Часто спрашивают
      .faq__grid
         .faq__item
            button.faq__question(type="button") 
               span Можно ли начинать занятия, если нет опыта в единоборствах?
            .faq__answer(id="answer1")
               p Конечно, в нашем спортивном клубе мы готовим и профессионалов,  так и любителей, а также рады видеть тех, кто 
                  | только делает первые шаги в спорте. Прежде всего, мы рекомендуем пройти медицинское обследование, чтобы исключить 
                  | любые здоровьесберегающие ограничения. Затем мы обсуждаем с клиентом его личные цели и амбиции. Оценив начальный 
                  | уровень физической готовности, наш тренер составляет индивидуальный план тренировок, который будет оптимальным для 
                  | этого человека. Мы тщательно следим за тем, чтобы нагрузка была адекватной и безопасной.

         .faq__item
            button.faq__question(type="button") 
               span С какого возраста можно начинать тренироваться?
            .faq__answer(id="answer2")
               p Тренировки в нашем клубе открыты для всех возрастных категорий. Мы предлагаем программы для юных спортсменов, начиная 
                  | с четырех лет, а также взрослым любого возраста, кто стремится улучшить свои физические навыки и спортивную форму.

         .faq__item
            button.faq__question(type="button") 
               span Какой режим тренировок наиболее оптимальный? 
                  | Стоит ли начинать тренировки, если есть возможность заниматься не чаще раза в неделю?
            .faq__answer(id="answer3")
               p Идеальная частота тренировок зависит от индивидуальных целей и возможностей каждого. В общем, рекомендуется тренироваться 
                  | 2-3 раза в неделю для достижения стабильного прогресса. Однако даже одно занятие в неделю может быть полезным и лучше, 
                  | чем полное отсутствие тренировок. Главное — это регулярность и последовательность ваших занятий. Ваш тренер сможет составить 
                  | персонализированный план тренировок, который будет соответствовать вашим уникальным целям и физическому состоянию.
      
         .faq__item
            button.faq__question(type="button") 
               span Занимаясь единоборствами у вас в клубе, есть ли возможность 
                  | в дальнейшем участвовать в турнирах?
            .faq__answer(id="answer4")
               p Конечно, при желании и упорной работе на тренировках мы подготовим вас к участию в турнирах.

         .faq__item
            button.faq__question(type="button") 
             span Могут ли заниматься девушки?
            .faq__answer(id="answer5")
               p Да, в нашем клубе девушки не только могут заниматься, но и настоятельно рекомендуются. Наши тренеры имеют богатый опыт работы 
                  | с женской аудиторией, тщательно подходят к организации тренировочного процесса и адаптации нагрузок, учитывая индивидуальные 
                  | особенности каждой спортсменки.

      //- .faq__button-container
      //-    a.faq__button.promo__cta-button(href="#contact-form") 
      //-       span.promo__cta-inner Есть вопросы?
      //-          svg.cta-svg(width="270" height="70" viewBox="0 0 270 70" fill="none" xmlns="http://www.w3.org/2000/svg")
      //-             path(d="M2.83705 9.3339C3.1337 4.05324 7.52046 -0.0587872 12.7939 0.000635961L257.504 2.75815C262.673 2.81639 266.919 6.86654 267.237 12.0403L269.981 56.7641C270.327 62.4119 265.887 67.1995 260.246 67.2612L9.9695 69.9994C4.26286 70.0619 -0.30507 65.268 0.0159439 59.5535L2.83705 9.3339Z")
