footer.footer
   .footer__container
      .footer__policy
         a.footer__policy-link(href="privacy.html") Политика конфиденциальности
         p.footer__disclaimer Информация, опубликованная на сайте, не является публичной офертой

      .footer__branding
         a.footer__logo(href="/")
            img(src=require("../../images/icons/logo-footer.svg"), alt="logo")
         p.footer__copy © 2023–2024 «Web Perspective» Все права защищены