footer.footer-privacy.scrolling
   .footer-privacy__container
      a.footer__privacy-policy(href="privacy.html") Политика конфиденциальности
      a.footer__credits(href="https://webperspective.ru/" target="_blank" rel="nofollow") Сделано в WebPerspective
