
section.gallery
   .gallery__container
      .gallery__item.gallery__item--1
         a(href='path/to/image1.jpg' data-lightbox='gallery' data-title='Image 1 Description')
            img.gallery__image(src='path/to/image1.jpg', alt='Image 1')
      .gallery__item.gallery__item--2
         a(href='path/to/image2.jpg' data-lightbox='gallery' data-title='Image 2 Description')
            img.gallery__image(src='path/to/image2.jpg', alt='Image 2')
            .gallery__item.gallery__item--2
         a(href='path/to/image2.jpg' data-lightbox='gallery' data-title='Image 2 Description')
            img.gallery__image(src='path/to/image2.jpg', alt='Image 2')

