section.marketing
   .container.marketing__container
      h2.marketing__title.title Найдем клиентов
      p.marketing__subtitle На текущий момент есть 
         span 3 самых распространенных и эффективных инструмента 
         |для продвижения в интернете

      .marketing__offers
         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Контекстная реклама
               p.marketing__offer__subtitle Реклама показывается в зависимости от запросов пользователей в поисковиках
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Множественный результат
                  li.marketing__offer__feature Оплата за клики
                  li.marketing__offer__feature Легко измеримые результаты
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn(href="#") Заказать
                  .marketing__offer-shadow
               a.marketing__offer-details(href="#") Подробнее

         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Продвижение сайта в ТОП
               p.marketing__offer__subtitle Оптимизация сайта для улучшения его видимости в поисковых системах
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Долгосрочный эффект
                  li.marketing__offer__feature Бесплатный трафик
                  li.marketing__offer__feature Высокое доверие пользователей
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn(href="#") Заказать
                  .marketing__offer-shadow
               a.marketing__offer-details(href="#") Подробнее

         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Таргетированная реклама
               p.marketing__offer__subtitle Реклама в соцсетях и на сайтах, нацеленная на конкретную аудиторию
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Точное таргетирование
                  li.marketing__offer__feature Воздействие на интересы
                  li.marketing__offer__feature Гибкость настроек
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn(href="#") Заказать
                  .marketing__offer-shadow
               a.marketing__offer-details(href="#") Подробнее

      .marketing__guarantee
         h3.marketing__guarantee-title Гарантируем результат
         ol.marketing__steps
            li.marketing__step Рост позиций вашего сайта
            li.marketing__step Повышение посещаемости
            li.marketing__step Увеличение обращений
