section.marketing#marketing
   .container.marketing__container
      h2.marketing__title.title Найдем клиентов
      p.marketing__subtitle На текущий момент есть 
         span 3 самых распространенных и эффективных инструмента 
         |для продвижения в интернете

      .marketing__offers
         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Контекстная реклама
               p.marketing__offer__subtitle Реклама показывается в зависимости от запросов пользователей в поисковиках
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Множественный результат
                  li.marketing__offer__feature Оплата за клики
                  li.marketing__offer__feature Легко измеримые результаты
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn.modal-btn(href="#") Заказать
                  .marketing__offer-shadow
               //- a.marketing__offer-details.btn-context(href="#") Подробнее

         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Продвижение сайта в ТОП
               p.marketing__offer__subtitle Оптимизация сайта для улучшения его видимости в поисковых системах
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Долгосрочный эффект
                  li.marketing__offer__feature Бесплатный трафик
                  li.marketing__offer__feature Высокое доверие пользователей
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn.modal-btn(href="#") Заказать
                  .marketing__offer-shadow
               //- a.marketing__offer-details.btn-seo(href="#") Подробнее

         .marketing__offer
            .marketing__offer__header
               h3.marketing__offer__title Таргетированная реклама
               p.marketing__offer__subtitle Реклама в соцсетях и на сайтах, нацеленная на конкретную аудиторию
               .marketing__offer__hr
               ul.marketing__offer__features
                  li.marketing__offer__feature Точное таргетирование
                  li.marketing__offer__feature Воздействие на интересы
                  li.marketing__offer__feature Гибкость настроек
            .marketing__offer__pricing
               p.marketing__offer__cost от 10 000 ₽ / мес
               .marketing__offer-btn
                  a.marketing__offer-order.link-btn.modal-btn(href="#") Заказать
                  .marketing__offer-shadow
               //- a.marketing__offer-details.btn-target(href="#") Подробнее

      .marketing__guarantee
         h3.marketing__guarantee-title Гарантируем результат
         .marketing__steps
            .marketing__step 
               .marketing__step-item 
                  p.marketing__step-num 1
                  img.marketing__step-icon(src=require("../../images/icons/marketing/marketing-icon-01.svg"), alt="marketing-icon")
               p.marketing__step-text Повышение посещаемости
            .marketing__step 
               .marketing__step-item
                  p.marketing__step-num 2
                  img.marketing__step-icon(src=require("../../images/icons/marketing/marketing-icon-02.svg"), alt="marketing-icon")
               p.marketing__step-text Рост позиций вашего сайта
            .marketing__step 
               .marketing__step-item
                  p.marketing__step-num 3
                  img.marketing__step-icon(src=require("../../images/icons/marketing/marketing-icon-03.svg"), alt="marketing-icon")
               p.marketing__step-text Увеличение обращений

      .learn__container
         .learn__image-wrapper
            img.learn__image(src=require("../../images/img/learn-image.png"), alt="image company")
         .learn__info
            p.learn__title Узнайте
            p.learn__description о наиболее 
               span эффективных каналах 
               |привлечения клиентов именно для вашего бизнеса
            .how-we-do__detail-btn
               a.how-we-do-order.link-btn.modal-btn(href="#") Бесплатная консультация
               .how-we-do-shadow
