.landing-modal.develop-modal
    .devel-container
        span.close-button.devel-container__close
        h2.devel-ad__title Лендинг 
         span Начните Продавать Эффективно и Быстро
        .devel-ad__info
            .devel-ad__why
                h3.devel-ad__subtitle Почему лендинг?
                ul.devel-ad__list
                    li 
                        span Целенаправленность: 
                        | Одна страница, одна цель. Наш лендинг как точно настроенные часы, ведет клиента к решению — вашей покупке
                    li 
                        span Измеримость результата: 
                        | Прозрачная аналитика покажет, как работает каждый вложенный вами рубль
                    li 
                        span Адаптивность: 
                        | Мгновенно реагируйте на обратную связь рынка, совершенствуя предложение для максимальной конверсии

            .devel-ad__description
                p 
                    span Лендинг 
                    | — это мощный маркетинговый инструмент, представляющий собой одностраничный сайт. Заточенный под одну цель: начать ваши продажи эффективно и мгновенно

        .devel-ad__details 
         .devel-ad__detail
            h3.devel-ad__price-title Экспресс - старт 
            .devel-ad__price-coast от 20 тыс. руб.
               span  от 10 рабочих дней
            .devel-ad__price-subtitle Шаблонный лендинг = быстрый результат
            p.devel-ad__text Скорость и эффективность
               span Мы обеспечим вам быстрый запуск без ущерба качеству
            p.devel-ad__text Маркетинговая проработка
               span Глубокий анализ конкурентов и целевой аудитории для точечного попадания в нужды рынка
            p.devel-ad__text Продающий контент
               span Мы наполним шаблон сильными текстами, которые убеждают и действуют

         .devel-ad__detail
            h3.devel-ad__price-title Уникальный дизайн
            .devel-ad__price-coast от 60 тыс. руб.
               span от 20 рабочих дней
            .devel-ad__price-subtitle Уникальный дизайн и контент, подчеркивающие индивидуальность вашего бренда
            p.devel-ad__text Эксклюзивность
               span Разработка неповторимого дизайна, который гармонично отражает ваш бренд и его ценности
            p.devel-ad__text Глубокое погружение
               span От анализа рынка до детальной проработки — создаем лендинг, который реально влияет на вашу аудиторию
            p.devel-ad__text Техническая отточенность
               span Качественные верстка и программирование, подкрепленные тестированием и оптимизацией
        .devel-ad__advantages
            .devel-advantages__item 
                .devel-advantages-descr
                    img(src=require("../../images/icons/modal-develop/modal-develop-01.svg"), alt="marketing-icon")
                    h4.devel-advantages-title Анализ рынка
                p.devel-advantages-text Выделение вашего предложения на фоне конкурентов
            .devel-advantages__item 
                .devel-advantages-descr
                    img(src=require("../../images/icons/modal-develop/modal-develop-02.svg"), alt="marketing-icon")
                    h4.devel-advantages-title Подарки
                p.devel-advantages-text Включена базовая SEO-оптимизация и интеграция с аналитикой
            .devel-advantages__item 
                .devel-advantages-descr
                    img(src=require("../../images/icons/modal-develop/modal-develop-03.svg"), alt="marketing-icon")
                    h4.devel-advantages-title Поддержка
                p.devel-advantages-text Постоянная помощь и своевременные обновления
        .devel-ad-links
            p.devel-ad-consultation Превратите визиты на сайт в 
                span реальные продажи 
                | уже сегодня!
            a.devel-ad__consultation-btn.modal-btn(href="#") Бесплатная консультация