.context-modal.marketing-modal
    .context-container
        span.close-button.context-container__close
        h2.context-ad__title Контекстная реклама
        .context-ad__info
            .context-ad__why
                h3.context-ad__subtitle Почему контекст?
                ul.context-ad__list
                    li 
                        span Целенаправленность: 
                        | Точное нацеливание объявлений на подходящий запрос.
                    li 
                        span Финансовая гибкость: 
                        | Оплата только за переходы по вашим объявлениям.
                    li 
                        span Быстрые результаты: 
                        | Мгновенный поток посетителей на ваш сайт после запуска рекламы.

            .context-ad__description
                p 
                    span Контекстная реклама 
                    | — это вид интернет-рекламы, при котором объявления отображаются пользователем на основе их запросов в поиске Яндекс, то есть показываются тем, кто уже ищет ваш продукт или услугу в интернете

        .context-ad__details
            h3.context-ad__price-title 10 000 руб. в месяц
            p.context-ad__text Составление семантического ядра
            p.context-ad__text Подбор минус фраз и определение целевых страниц
            p.context-ad__text Создание объявлений в Директ и размещение графических рекламных объявлений
            p.context-ad__text Оценка ключевых KPI: цена показа, цена клика, стоимость лида, эффективность рекламы
            p.context-ad__text Отслеживание изменений ставок за место в рекламной выдаче
            p.context-ad__text Установка аналитики и визуализация отчетов 
            p.context-ad__text Оптимизация рекламного бюджета
            p.context-ad__text Помощь в разработке УТП
        .context-ad__advantages
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-01.svg"), alt="marketing-icon")
                    h4.context-advantages-title Прогноз бюджета
                p.context-advantages-text Рассчитаем соотношение бюджета к возможным охватам
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-02.svg"), alt="marketing-icon")
                    h4.context-advantages-title Экспертность
                p.context-advantages-text Составим наиболее эффективные объявления
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-03.svg"), alt="marketing-icon")
                    h4.context-advantages-title Отчетность
                p.context-advantages-text Достигнутые результаты в цифрах дважды в месяц
        .context-ad-links
            p.context-ad-consultation Узнайте о наиболее 
                span эффективных каналах 
                | привлечения клиентов именно для вашего бизнеса
            a.context-ad__consultation-btn.modal-btn(href="#") Получить бесплатную консультацию!