
//- Модальное окно
div#modal.modal.contact-modal.hidden
   .modal-container
      span.close-button.modal-container__close
      div.modal-content
         h2 Предложим решение вашей задачи
         p.modal__description Знакомство с вашим проектом займет 15-30 минут. Оставьте свои контакты и мы вместе выберем подходящее время
         form#enrollmentForm
            input(type="hidden" id="source" name="source")
            div.form-group
               label(for="name") Как Вас зовут?
               input(type="text" id="name" name="name" required placeholder="Имя")
            div.form-group
               label(for="phone") Ваш номер телефона?
               input(type="tel" id="phone" name="phone" required placeholder="+7 900 800 50 50")
            div.error-message.hidden
            button.promo__cta-button(type="submit") Отправить
            p.form-apperance Отправляя заявку, вы соглашаетесь с 
                a.form-apperance__policy политикой конфиденциальности

//- Оверлей
div#modalOverlay.modal-overlay.hidden
