.target-modal.marketing-modal
    .context-container
        span.close-button.context-container__close
        h2.context-ad__title Таргетированная реклама
        .context-ad__info
            .context-ad__why
                h3.context-ad__subtitle Почему таргетированная реклама?
                ul.context-ad__list
                    li 
                        span Формирование спроса: 
                        | Стимулирование спроса на ваш продукт или услугу среди целевой аудитории, которая может не знать о его существовании.
                    li 
                        span Прогрев аудитории:  
                        | Объявление, точно соответствующее потребностям клиента, может стимулировать интерес или покупку, даже если ранее он не интересовался продуктом.
                    li 
                        span Продвижение в соц.сетях: 
                        | Активно продвигает ваш сайт и социальные сети, привлекая новых подписчиков и повышая вовлеченность аудитории.

            .context-ad__description
                p 
                    span Таргетированная реклама 
                    | в социальных сетях и на других платформах показывает рекламные сообщения выбранной аудитории на основе их демографии, интересов, поведения и других характеристик

        .context-ad__details
            h3.context-ad__price-title 10 000 руб. в месяц
            p.context-ad__text Создание объявлений в MyTarget, в сети Одноклассники, VK и сайтах партнеров Mail.ru 
            p.context-ad__text Установка аналитики
            p.context-ad__text Копирайтинг объявлений 
            p.context-ad__text Редактирование графики 
            p.context-ad__text Настройка таргетинга и ретаргетинга 
            p.context-ad__text Размещение видео-рекламы в MyTarget, в сети Одноклассники, VK и сайтах партнеров Mail.ru
            p.context-ad__text Создание рабочей страницы в соцсети (при необходимости) 
        .context-ad__advantages
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-01.svg"), alt="marketing-icon")
                    h4.context-advantages-title Прогноз бюджета
                p.context-advantages-text Рассчитаем соотношение бюджета к возможным охватам
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-02.svg"), alt="marketing-icon")
                    h4.context-advantages-title Экспертность
                p.context-advantages-text Составим наиболее эффективные объявления
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-03.svg"), alt="marketing-icon")
                    h4.context-advantages-title Отчетность
                p.context-advantages-text Достигнутые результаты в цифрах дважды в месяц
        .context-ad-links
            p.context-ad-consultation Узнайте о наиболее 
                span эффективных каналах 
                | привлечения клиентов именно для вашего бизнеса
            a.context-ad__consultation-btn.modal-btn(href="#") Получить бесплатную консультацию!