
//- Модальное окно
div#modalQuestion.question.hidden
   .question-container
      img.question-container__image(src=require("../../images/img/modalQuestion-bg.png"), alt="Контактная форма")
      span.close-button.question-container__close
      div.question-content
         h2 Задать вопрос
         form#questionForm
            div.form-group
               label(for="name") Имя
               input(type="text" id="name" name="name" required)
            div.form-group
               label(for="phone") Телефон
               input(type="tel" id="phone" name="phone" required)
            div.form-group
               textarea.contact-form__textarea(name="comment" placeholder="Вопрос" rows="4")
            div.form-group.form-group__check
               input.question__checkbox(type="checkbox" id="consent" name="consent" required)
               label.question__checkbox-label(for="consent")
                  | Подтверждаю обработку своих 
                  a.question-policy(href="privacy.html") персональных данных
            div.error-message.hidden
            button.promo__cta-button.question-button(type="submit") 
               span.promo__cta-inner 
                  | Записаться
                  svg.cta-svg(width="270" height="70" viewBox="0 0 270 70" fill="none" xmlns="http://www.w3.org/2000/svg")
                     path(d="M2.83705 9.3339C3.1337 4.05324 7.52046 -0.0587872 12.7939 0.000635961L257.504 2.75815C262.673 2.81639 266.919 6.86654 267.237 12.0403L269.981 56.7641C270.327 62.4119 265.887 67.1995 260.246 67.2612L9.9695 69.9994C4.26286 70.0619 -0.30507 65.268 0.0159439 59.5535L2.83705 9.3339Z")

//- Оверлей
div#modalOverlay.question-overlay.hidden
