.seo-modal.marketing-modal
    .context-container
        span.close-button.context-container__close
        h2.context-ad__title Продвижение сайта в топ
        .context-ad__info
            .context-ad__why
                //- h3.context-ad__subtitle Почему SEO?
                ul.context-ad__list
                    li 
                        span Увеличение видимости: 
                        | SEO улучшит нахождение вашего бизнеса в поисковых системах, привлекая больше потенциальных клиентов
                    li 
                        span Эффективность: 
                        | SEO — один из наиболее эффективных методов привлечения трафика на сайт, так как пользователи активно ищут информацию онлайн
                    li 
                        span Долгосрочные результаты: 
                        | Правильно настроенная SEO-стратегия обеспечит стабильный поток посетителей на ваш сайт на длительный срок, позволяя сократить расходы на рекламу в будущем

            .context-ad__description
                p 
                    span SEO-продвижение 
                    | делает ваш сайт заметнее для людей, ищущих информацию в интернете. Мы оптимизируем ваш сайт, чтобы он занимал более высокие позиции в поисковых результатах по запросам, связанным с вашим бизнесом
        .context-ad__details-list
            .context-ad__details
                h3.context-ad__price-title 10 тыс. руб. в месяц
                p.context-ad__text До 60 ключевых запросов
                p.context-ad__text До 2 публикаций на площадках
                p.context-ad__text От 1 до 2 SEO статей на сайт
                p.context-ad__text Продвижение в Яндекс и Google 
                p.context-ad__text Подключение аналитики 
                p.context-ad__text Добавление разделов  
                p.context-ad__text Написание текстов 
                p.context-ad__text Оптимизация мета-тегов 
                p.context-ad__text Оптимизация контента
                p.context-ad__text Оптимизация кода
                p.context-ad__text Исправление ошибок 
                p.context-ad__text Регистрация в каталогах 
            .context-ad__details
                h3.context-ad__price-title 15 тыс. руб. в месяц
                p.context-ad__text До 100 ключевых запросов
                p.context-ad__text До 4 публикаций на площадках
                p.context-ad__text От 2 до 4 SEO статей на сайт
                p.context-ad__text Продвижение в Яндекс и Google 
                p.context-ad__text Подключение аналитики 
                p.context-ad__text Добавление разделов  
                p.context-ad__text Написание текстов 
                p.context-ad__text Оптимизация мета-тегов 
                p.context-ad__text Оптимизация контента
                p.context-ad__text Оптимизация кода
                p.context-ad__text Исправление ошибок 
                p.context-ad__text Регистрация в каталогах 
            .context-ad__details
                h3.context-ad__price-title 30 тыс. руб. в месяц
                p.context-ad__text До 200 ключевых запросов
                p.context-ad__text До 6 публикаций на площадках
                p.context-ad__text От 4 до 6 SEO статей на сайт
                p.context-ad__text Продвижение в Яндекс и Google 
                p.context-ad__text Подключение аналитики 
                p.context-ad__text Добавление разделов  
                p.context-ad__text Написание текстов 
                p.context-ad__text Оптимизация мета-тегов 
                p.context-ad__text Оптимизация контента
                p.context-ad__text Оптимизация кода
                p.context-ad__text Исправление ошибок 
                p.context-ad__text Регистрация в каталогах 
        .context-ad__advantages
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-01.svg"), alt="marketing-icon")
                    h4.context-advantages-title Аудит
                p.context-advantages-text Диагностика и решение технических проблем с сайтом
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-02.svg"), alt="marketing-icon")
                    h4.context-advantages-title Поддержка 
                p.context-advantages-text Консультации и рекомендации по улучшению сайта
            .context-advantages__item 
                .context-advantages-descr
                    img(src=require("../../images/icons/modal-context/modal-context-03.svg"), alt="marketing-icon")
                    h4.context-advantages-title Отчетность
                p.context-advantages-text Достигнутые результаты в цифрах дважды в месяц
        .context-ad-links
            p.context-ad-consultation Узнайте о наиболее 
                span эффективных каналах 
                | привлечения клиентов именно для вашего бизнеса
            a.context-ad__consultation-btn.modal-btn(href="#") Получить бесплатную консультацию!