section.offer.scrolling
   .container.offer__container
      .offer__header
         h2.offer__title.title Сэкономим вам
         .offer__advantages
            .offer__advantage-item
               img.advantage__icon(src=require("../../images/icons/offer/offer-icon-1.svg"), alt="offer-icon")
               .advantage__details
                  h3.advantage__title до 40 часов в месяц
                  p.advantage__description Не придется самим разбираться как создавать и раскручивать сайт. Для этого есть мы
            .offer__advantage-item
               img.advantage__icon(src=require("../../images/icons/offer/offer-icon-2.svg"), alt="offer-icon")
               .advantage__details
                  h3.advantage__title от 30 000 руб. в месяц
                  p.advantage__description Не придется нанимать маркетолога в штат и организовывать ему рабочий процесс. У нас готовая команда

         .offer__quote
            p.offer__blockquote Интернет-маркетинг может показаться сложным, но мы здесь, 
               br
               |чтобы сделать его простым и понятным для вас

         .offer__stats
            .stat.offer__stats-item
               h4.stat__title Только начинаете?
               p.stat__fact 70% новых бизнесов активно присутствуют в интернете
               p.stat__description Поможем вашему бизнесу заявить о себе в интернете, обеспечивая видимость с первого дня
            .stat.offer__stats-item
               h4.stat__title Ваш сайт устарел?
               p.stat__fact Обновление сайта повышает количество обращений на 20%
               p.stat__description Современный, быстрый и удобный сайт повышает доверие посетителей
            .stat.offer__stats-item
               h4.stat__title Хотите больше клиентов?
               p.stat__fact Более 3 млрд поисковых запросов совершается ежедневно в России
               p.stat__description Приведем этих людей к вам, используя самые умные технологии
