section.pricing(id="pricing")
   .pricing__container
      .pricing__inner
         h2.pricing__title СТОИМОСТЬ ТРЕНИРОВОК
         p.pricing__note *Срок действия абонимента 1 месяц с момента покупки

      .pricing__grid
         .pricing__card.pricing__card--trial
            h5.pricing__card-title ПРОБНАЯ
            p.pricing__card-description Любое первое занятие из расписания
            p.pricing__card-info 1 занятие
            p.pricing__card-price БЕСПЛАТНО

         .pricing__card.pricing__card--single
            h5.pricing__card-title РАЗОВОЕ
            p.pricing__card-description Любое первое занятие из расписания
            p.pricing__card-info 1 занятие
            p.pricing__card-price 300 Р

         .pricing__card.pricing__card--personal
            h5.pricing__card-title ПЕРСОНАЛЬНАЯ
            p.pricing__card-description Абонимент на групповые тренировки
            p.pricing__card-info 1 занятие
            p.pricing__card-price 1 000 Р

         .pricing__card.pricing__card--group-8
            h5.pricing__card-title ГРУППОВАЯ #8
            p.pricing__card-description Абонимент на групповые тренировки
            p.pricing__card-info 8 занятий
            p.pricing__card-price 2 100 Р

         .pricing__card.pricing__card--group-12
            h5.pricing__card-title ГРУППОВАЯ #12
            p.pricing__card-description Абонимент на групповые тренировки
            p.pricing__card-info 12 занятий
            p.pricing__card-price 2 500 Р

         .pricing__card.pricing__card--group-unlimited
            h5.pricing__card-title ГРУППОВАЯ #
               span.pricing__card-infinity 8
            p.pricing__card-description Абонимент на групповые тренировки
            p.pricing__card-info КАЖДЫЙ ДЕНЬ
            p.pricing__card-price 3 200 Р
