section.promo(id="promo")
   .promo__background
   .promo__container
      .promo__container-inner
         h1.promo__title Бойцовский клуб
            br
            span "КУЗНЯ FIGHT" 
            br
            | в Новокузнецке
         a.promo__cta-button.modal-btn.promo-button(href="#free-class" data-modal-target="#modal")
            span.promo__cta-inner 
               | Бесплатное занятие
               svg.cta-svg(width="270" height="70" viewBox="0 0 270 70" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M2.83705 9.3339C3.1337 4.05324 7.52046 -0.0587872 12.7939 0.000635961L257.504 2.75815C262.673 2.81639 266.919 6.86654 267.237 12.0403L269.981 56.7641C270.327 62.4119 265.887 67.1995 260.246 67.2612L9.9695 69.9994C4.26286 70.0619 -0.30507 65.268 0.0159439 59.5535L2.83705 9.3339Z")
      .promo__features
         .promo__feature
            .promo__feature-title Лучшие тренеры
            .promo__feature-inner
               img.promo__feature-icon(src=require("../../images/icons/header-promo/promo-icon001.svg"), alt="Лучшие тренеры")
               .promo__feature-description С детьми занимаются профессиональные спортсмены
         .promo__feature
            .promo__feature-title Удобное время занятий
            .promo__feature-inner
               img.promo__feature-icon(src=require("../../images/icons/header-promo/promo-icon002.svg"), alt="Удобное время занятий")
               .promo__feature-description Наши занятия проходят в разное время несколько раз в неделю
         .promo__feature
            .promo__feature-title Принимаем детей от 4 лет
            .promo__feature-inner
               img.promo__feature-icon(src=require("../../images/icons/header-promo/promo-icon003.svg"), alt="Принимаем детей от 4 лет")
               .promo__feature-description Дети занимаются в разных возрастных группах со своими сверстниками