section.promo
   .container.promo__container
      .promo__wrapper
         .promo__content
            h1.promo__heading Сделаем так, чтобы 
               span интернет работал 
               |на вас
            p.promo__subheading Создаем и улучшаем сайты, настраиваем эффективное продвижение и запускаем рекламные кампании или всё сразу 
            .promo__illustration-mb
               img.promo__illustration-img-mb(src=require("../../images/img/promo-img.png"), alt="image company")
            .promo__button-container 
               a.promo__button.link-btn.contact-modal-btn(href="#") Предложите мне решения
               .promo__button-shadow
         .promo__illustration
            img.promo__illustration-img(src=require("../../images/img/promo-img.png"), alt="image company")
