.quis-modal(style='visibility: hidden; opacity: 0;')
  form#yandexForm
    script(src="https://forms.yandex.ru/_static/embed.js")
    iframe(src="https://forms.yandex.ru/u/663f2783e010db4b4ba7e7ad/?iframe=1" frameborder="0" name="ya-form-663f2783e010db4b4ba7e7ad" width="650")
