section.schedule(id="schedule")
   .schedule__container
      h2.schedule__title РАСПИСАНИЕ
      table.schedule__table
         thead.schedule__header
            tr.schedule__header-row
               th.schedule__header-cell Направления
               th.schedule__header-cell ПН
               th.schedule__header-cell ВТ
               th.schedule__header-cell СР
               th.schedule__header-cell ЧТ
               th.schedule__header-cell ПТ
               th.schedule__header-cell СБ
               th.schedule__header-cell ВС
         tbody.schedule__body
            tr.schedule__row
               td.schedule__cell Персональные тренировки
               td.schedule__cell(colspan="6") 
                  | для детей и взрослых по предварительной записи
            tr.schedule__row
               td.schedule__cell.schedule__name Младшая группа 4-6 лет
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Средняя группа 7-12 лет
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Старшая группа с 14 лет
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Спортивная группа с 14 лет
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00 
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Фитнес
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —

      .schedule__accordion
         .accordion__item
            .accordion__title Младшая группа 4-6 лет
            .accordion__content
               p.accordion__day-name
                  span.accordion__day-times ПН 
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ВТ 
                  | 18:00 - 19:00
               p.accordion__day-name 
                  span.accordion__day-times СР
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ЧТ
                  | 18:00 - 19:00
               p.accordion__day-name  
                  span.accordion__day-times ПТ
                  | —
               p.accordion__day-name 
                  span.accordion__day-times СБ
                  | 18:00 - 19:00
               p.accordion__day-name 
                  span.accordion__day-times ВС
                  | —
         .accordion__item
            .accordion__title Средняя группа 7-12 лет
            .accordion__content
               p.accordion__day-name
                  span.accordion__day-times ПН 
                  | 16:30 - 18:00, 18:00 - 19:30
               p.accordion__day-name 
                  span.accordion__day-times ВТ 
                  | —
               p.accordion__day-name 
                  span.accordion__day-times СР
                  | 16:30 - 18:00, 18:00 - 19:30
               p.accordion__day-name 
                  span.accordion__day-times ЧТ
                  | —
               p.accordion__day-name  
                  span.accordion__day-times ПТ
                  | 16:30 - 18:00, 18:00 - 19:30
               p.accordion__day-name 
                  span.accordion__day-times СБ
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ВС
                  | — 
         .accordion__item
            .accordion__title Старшая группа с 14 лет
            .accordion__content
               p.accordion__day-name
                  span.accordion__day-times ПН 
                  | 19:30 - 21:00
               p.accordion__day-name 
                  span.accordion__day-times ВТ 
                  | —
               p.accordion__day-name 
                  span.accordion__day-times СР
                  | 19:30 - 21:00
               p.accordion__day-name 
                  span.accordion__day-times ЧТ
                  | —
               p.accordion__day-name  
                  span.accordion__day-times ПТ
                  | 19:30 - 21:00
               p.accordion__day-name 
                  span.accordion__day-times СБ
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ВС
                  | — 
         .accordion__item
            .accordion__title Спортивная группа с 14 лет
            .accordion__content
               p.accordion__day-name
                  span.accordion__day-times ПН 
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ВТ 
                  | 19:00 - 20:00
               p.accordion__day-name 
                  span.accordion__day-times СР
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ЧТ
                  | 19:00 - 20:00
               p.accordion__day-name  
                  span.accordion__day-times ПТ
                  | —
               p.accordion__day-name 
                  span.accordion__day-times СБ
                  | 19:00 - 20:00
               p.accordion__day-name 
                  span.accordion__day-times ВС
                  | —
         .accordion__item
            .accordion__title Фитнес
            .accordion__content
               p.accordion__day-name
                  span.accordion__day-times ПН 
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ВТ 
                  | 20:00 - 21:00
               p.accordion__day-name 
                  span.accordion__day-times СР
                  | —
               p.accordion__day-name 
                  span.accordion__day-times ЧТ
                  | 20:00 - 21:00
               p.accordion__day-name  
                  span.accordion__day-times ПТ
                  | —
               p.accordion__day-name 
                  span.accordion__day-times СБ
                  | 20:00 - 21:00
               p.accordion__day-name 
                  span.accordion__day-times ВС
                  | —
                  