section.services.scrolling(id="services")
   .services__container
      .services__inner
         .services__description
            h2.services__title ЕДИНОБОРСТВА КЛУБА
            p.services__subtitle
               | У нас тренируются не только в основных дисциплинах, но и показывают высокие результаты в грэпплинге, кикбоксинге, боксе.
               | Наши спортсмены — частые участники и победители соревнований
         a.services__schedule(href="#schedule") РАСПИСАНИЕ ЗАНЯТИЙ

      ul.services__list
         li.services__item
            h3.services__item-title MMA (Смешанные Боевые Искусства)
            //- img.services__item-img(src=require("../../images/img/services/services-001.png") alt="MMA")
         li.services__item
            h3.services__item-title Рукопашный Бой
            img.services__item-img(src=require("../../images/img/services/services-001.png") alt="MMA")
         li.services__item
            h3.services__item-title Панкратион
            img.services__item-img(src=require("../../images/img/services/services-003.png") alt="MMA")
         li.services__item
            h3.services__item-title Боевое Самбо
            img.services__item-img(src=require("../../images/img/services/services-004.png") alt="MMA")
