section.steps
   .container.steps__container
      h2.steps__container__title.title Этапы работы

      .steps__list
         article.step.steps__item
            .steps__text 
               h3.steps__title Анализ
               p.steps__description Изучаем рынок и определяем оптимальные каналы продвижения
            img.steps__icon(src=require("../../images/icons/steps/step-icon-01.svg"), alt="marketing-icon")

         article.step.steps__item
            .steps__text 
               h3.steps__title Поиск решений
               p.steps__description Предлагаем различные варианты, подходящие под ваши цели и бюджет 
            img.steps__icon(src=require("../../images/icons/steps/step-icon-03.svg"), alt="marketing-icon")

         article.step.steps__item
            .steps__text 
               h3.steps__title Настройка
               p.steps__description Настраиваем выбранные каналы продвижения для достижения максимальной эффективности и привлечения вашей аудитории
            img.steps__icon(src=require("../../images/icons/steps/step-icon-02.svg"), alt="marketing-icon")

         article.step.steps__item
            .steps__text 
               h3.steps__title Отчёт
               p.steps__description Дважды в месяц предоставляем отчеты о проделанной работе и достигнутых результатах, чтобы вы всегда были в курсе что происходит
            img.steps__icon(src=require("../../images/icons/steps/step-icon-04.svg"), alt="marketing-icon")
