doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title WebPerspective
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/header/favicon.svg"))
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet")
   body.body 
      include ../sections/header
      include ../sections/promo
      include ../sections/offer
      include ../sections/develop
      //- include ../sections/contacts
      //- include ../sections/footer
      .cursor-dot-outline 
         .cursor-dot