doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title WebPerspective
      link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/header/favicon.svg"))
   body.body 
      include ../sections/header
      include ../sections/promo
      include ../sections/offer
      include ../sections/develop
      include ../sections/develop-doing
      include ../sections/marketing
      include ../sections/steps
      include ../sections/about
      include ../sections/contacts
      include ../sections/modal-contact
      include ../sections/quiz
      //- include ../sections/modal-context
      //- include ../sections/modal-seo
      //- include ../sections/modal-target
      //- include ../sections/modal-landing
      include ../sections/footer
      .cursor-dot-outline 
         .cursor-dot