@font-face {
	font-family: 'Unbounded-Medium';
	src: url('../fonts/Unbounded-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Unbounded-Regular';
	src: url('../fonts/Unbounded-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Unbounded-SemiBold';
	src: url('../fonts/Unbounded-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Mulish-Light';
	src: url('../fonts/Mulish-Light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Mulish-Light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Mulish-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Mulish-Regular';
	src: url('../fonts/Mulish-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Mulish-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Mulish-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Mulish-Medium';
	src: url('../fonts/Mulish-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Mulish-Medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Mulish-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Mulish-SemiBold';
	src: url('../fonts/Mulish-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Mulish-SemiBold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Mulish-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Mulish-Bold';
	src: url('../fonts/Mulish-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Mulish-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Mulish-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}