html,
body {
   width: 100vw;
   overflow-x: hidden;
   color: $black;
   font-size: 16px;
   font-family: "Gilroy-Regular";
   letter-spacing: 0.01em;
   line-height: 130%;
   background-color: $gray;
}

h1 {
   font-family: "Unbounded-Regular";
   letter-spacing: 0.03em;
   line-height: 130%;
   font-size: 48px;
   span {
      color: $orange;
   }
}

.container,
.header__container {
   width: 100vw;
   padding: 0px 12vw;
   display: flex;
}

.link-btn{
   position: relative;
   font-size: 20px;
   color: $orange;
   font-family: "Gilroy-Medium";
   border-radius: 8px;
   border: 2px solid $orange;
   z-index: 2;
}