html,
body {
   width: 100vw;
   overflow-x: hidden;
   color: $black;
   font-size: 16px;
   font-family: "Gilroy-Regular";
   letter-spacing: 0.01em;
   line-height: 130%;
   background-color: $gray;
}

@media (max-width: 1040px) {
   body {
      font-size: 14px;
   }
}

@media (max-width: 490px) {
   body {
      font-size: 12px;
   }
}

h1 {
   font-family: "Unbounded-Regular";
   letter-spacing: 0.03em;
   line-height: 130%;
   font-size: 48px;
   span {
      color: $orange;
   }
}

.container,
.header__container {
   width: 100vw;
   padding: 0px 12vw;
   display: flex;
}

.container {
   margin-bottom: 60px;
}

.link-btn {
   position: relative;
   font-size: 20px;
   color: $orange;
   font-family: "Gilroy-Medium";
   border-radius: 8px;
   border: 2px solid $orange;
   z-index: 2;
}

.title {
   font-size: 38px;
   margin-bottom: 20px;
}

@media (max-width: 1240px){
   .title {
      font-size: 34px;
      margin-bottom: 20px;
   }
}

@media (max-width: 768px){
   .title {
      font-size: 28px;
      margin-bottom: 20px;
   }
}

@media (max-width: 490px){
   .title {
      font-size: 24px;
      margin-bottom: 14px;
   }
}