html,
body {
   width: 100vw;
   overflow-x: hidden;
   color: $black;
   font-size: 15px;
   font-family: "Mulish-Regular";
   letter-spacing: 0.02em;
   line-height: 120%;
   background-color: $gray;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-smooth: always;
}

@media (max-width: 1040px) {
   body {
      font-size: 15px;
   }
}

@media (max-width: 490px) {
   body {
      font-size: 13px;
   }
}

h1 {
   font-family: "Unbounded-Regular";
   letter-spacing: 0.03em;
   line-height: 130%;
   font-size: 48px;
   span {
      color: $orange;
   }
}

.container,
.header__container {
   width: 100vw;
   padding: 0px 12vw;
   display: flex;
}

.container {
   margin-bottom: 100px;
}

.link-btn {
   position: relative;
   font-size: 20px;
   color: $orange;
   font-family: "Mulish-Regular";
   border-radius: 8px;
   border: 2px solid $orange;
   z-index: 2;
}

.title {
   font-size: 38px;
   margin-bottom: 20px;
   font-family: "Mulish-Medium";
   letter-spacing: 0.03em;
}

@media (max-width: 1240px) {
   .title {
      font-size: 30px;
      margin-bottom: 20px;
   }
}

@media (max-width: 768px) {
   .title {
      font-size: 28px;
      margin-bottom: 10px;
   }
}

@media (max-width: 490px) {
   .title {
      font-size: 24px;
      margin-bottom: 0px;
   }
}
