@media (max-width: 1640px) {
  .header__container,
  .container,
  .footer__container {
    padding: 0px 8vw;
  }
}

@media (max-width: 1440px) {
  .container,
  .header__container,
  .footer__container {
    padding: 0px 3vw;
  }
  .header {
    &__nav {
      width: 77%;
      align-items: center;
      padding: 24px 0;
    }
  }
  .promo {
    &__illustration {
      width: 60%;
      &-img {
        height: auto;
        max-width: 740px;
        width: 100%;
        object-fit: contain;
      }
    }
    &__content {
      max-width: 490px;
    }
  }
}

@media (max-width: 1240px) {
  .container {
    margin-bottom: 70px;
  }
  .header {
    &__nav-list {
      width: 64%;
    }
    &__nav-link,
    &__contact-phone {
      font-size: 16px;
    }
    &__logo-img {
      height: 30px;
    }
  }

  h1 {
    font-size: 42px;
  }
  .promo {
    &__container {
      margin-bottom: 50px !important;
    }
    &__content {
      max-width: 430px;
      gap: 10px;
    }
    &__wrapper {
      padding: 40px;
    }
    &__subheading {
      font-size: 20px;
    }
    &__button {
      position: relative;
      background-color: $white;
      z-index: 2;
      padding: 22px;
      display: flex;
      top: -8px;
      left: 10px;
      transition: 0.3s ease-in-out;
      &-container {
        position: relative;
        margin-top: 30px;
      }
    }
    &__illustration {
      position: relative;
      &-img {
        width: 108%;
      }
    }
  }
}

@media (max-width: 1240px) {
  .offer {
    &__header {
      gap: 20px;
    }
    &__advantage {
      &-item {
        padding: 30px;
        gap: 30px;
        @include box-style-1240;
      }
    }
    &__quote {
      padding: 40px;
      border: 1px solid $orange;
      @include box-style-1240;
    }
    &__blockquote {
      font-size: 20px;
    }
    &__blockquote::before {
      width: 18px;
      height: 20px;
      margin-right: 14px;
    }
    &__stats {
      &-item {
        width: 32%;
        gap: 14px;
        padding: 30px;
        @include box-style;
        border: 1px dashed #38a960;
      }
    }
  }

  .advantage {
    &__icon {
      height: 50px;
    }
    &__details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 18px;
    }
    &__title {
      font-size: 18px;
    }
    &__description {
      max-width: 390px;
      font-family: "Mulish-Medium";
    }
  }
  .stat {
    &__title {
      font-size: 20px;
    }
    &__fact {
      font-size: 14px;
    }
    &__description {
      line-height: 140%;
      max-width: 300px;
    }
  }
}

@media (max-width: 1040px) {
  .header {
    padding: 20px 0;
    &__nav {
      position: fixed;
      top: 0;
      right: -280px;
      width: 280px;
      height: 100vh;
      background-color: $black;
      z-index: 2000;
      transition: left 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 20px;
      gap: 30px;
      &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-left: 20px;
      }
      &-link {
        font-size: 20px;
        color: $white;
        font-weight: 400;
        font-family: "Mulish-Regular";
      }
    }
    &__burger {
      display: block;
    }
    &__logo-mobile-link {
      display: block;
      margin-bottom: 20px;
    }
    &__contact-phone {
      font-size: 18px;
      color: $orange;
      font-weight: 200;
      font-family: "Mulish-SemiBold";
      order: 3;
    }
    &__contact {
      order: 4;
    }
  }
  h1 {
    font-size: 36px;
  }
  .promo {
    margin-top: 90px;
    &__content {
      max-width: 370px;
    }
    &__subheading {
      font-size: 18px;
    }
    &__button {
      position: relative;
      background-color: $white;
      z-index: 2;
      padding: 18px;
      display: flex;
      top: -6px;
      left: 8px;
      transition: 0.3s ease-in-out;
    }
  }
  .link-btn {
    font-size: 18px;
    border-radius: 6px;
  }
}

@media (max-width: 900px) {
  .promo {
    &__illustration {
      width: 70%;
      &-img {
        height: auto;
        max-width: 740px;
        width: 112%;
        object-fit: contain;
      }
    }
    &__content {
      max-width: 350px;
    }
    &__subheading {
      font-size: 17px;
    }
    &__button {
      position: relative;
      background-color: $white;
      z-index: 2;
      padding: 18px;
      display: flex;
      top: -6px;
      left: 8px;
      transition: 0.3s ease-in-out;
    }
  }
  h1 {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 50px;
  }
  .promo {
    &__container {
      margin-bottom: 50px !important;
    }
    &__content {
      max-width: 100%;
    }
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    &__illustration {
      display: none;
      &-mb {
        display: block;
        width: 80%;
        margin-top: 10px;
      }
    }
  }
  h1 {
    width: auto;
  }

  .promo__subheading {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .offer {
    &__header {
      gap: 20px;
    }
    &__advantages {
      width: 100%;
      flex-direction: column;
      gap: 14px;
    }
    &__advantage {
      &-item {
        width: 100%;
        padding: 30px;
        @include box-style-mb;
      }
    }
    &__quote {
      @include box-style-mb;
      background-color: $white;
    }
    &__blockquote {
      font-size: 20px;
      br {
        display: none;
      }
    }
    &__stats {
      width: 100%;
      flex-direction: column;
      gap: 14px;
      &-item {
        width: 100%;
        gap: 14px;
        padding: 30px;
        @include box-style-mb;
      }
    }
  }

  .advantage {
    &__details {
      gap: 14px;
    }
    &__title {
      font-size: 16px;
      font-family: "Unbounded-Regular";
    }
    &__description {
      font-family: "Mulish-Medium";
      font-size: 16px;
    }
  }
  .stat {
    &__title {
      font-size: 20px;
      font-family: "Mulish-Regular";
      font-weight: 400;
    }
    &__fact {
      font-family: "Unbounded-SemiBold";
    }
    &__description {
      line-height: 140%;
      max-width: 300px;
    }
  }
}

@media (max-width: 640px) {
  .promo {
    &__illustration {
      &-mb {
        width: 90%;
      }
    }
    &__button {
      padding: 16px;
    }
  }
  h1 {
    width: 100%;
    max-width: 350px;
  }

  .promo__subheading {
    width: 100%;
  }
  .link-btn {
    font-size: 16px;
  }
}

@media (max-width: 490px) {
  .promo {
    margin-top: 84px;
    &__container {
      margin-bottom: 30px !important;
    }
    &__wrapper {
      padding: 26px;
    }
    &__illustration {
      &-mb {
        width: 100%;
      }
    }
    &__button {
      padding: 16px 20px;
      display: flex;
      top: -6px;
      left: 8px;
    }
  }
  h1 {
    font-size: 28px;
  }

  .promo__subheading {
    font-size: 16px;
  }
}

@media (max-width: 490px) {
  .offer {
    &__advantages {
      gap: 12px;
    }
    &__advantage {
      &-item {
        padding: 30px 20px;
        gap: 20px;
      }
    }
    &__quote {
      @include box-style-mb;
      background-color: $white;
      padding: 30px 20px;
    }
    &__blockquote {
      font-size: 18px;
    }
    &__stats {
      gap: 12px;
      &-item {
        gap: 14px;
        padding: 30px 20px;
        @include box-style-mb;
      }
    }
  }

  .advantage {
    &__title {
      font-size: 14px;
    }
    &__description {
      font-size: 14px;
    }
    &__icon {
      height: 40px;
    }
  }
  .stat {
    &__title {
      font-size: 16px;
    }
  }
}

@media (max-width: 390px) {
  .offer {
    &__header {
      gap: 12px;
    }
    &__advantage {
      &-item {
        gap: 12px;
        align-items: flex-start;
      }
    }
    &__blockquote::before {
      width: 26px;
      object-fit: contain;
      margin-right: 10px;
    }
    &__blockquote {
      font-size: 15px;
      line-height: 130%;
    }
    &__stats {
      gap: 12px;
      &-item {
        gap: 8px;
        padding: 30px 20px;
      }
    }
  }

  .advantage {
    &__title {
      font-size: 12px;
    }
    &__description {
      font-size: 13px;
    }
    &__icon {
      height: 30px;
    }
    &__details {
      gap: 8px;
    }
  }
  .stat {
    &__title {
      font-size: 14px;
    }
    &__fact {
      font-size: 12px;
    }
  }
}

@media (max-width: 390px) {
  .promo {
    &__content {
      align-items: center;
    }
    &__button {
      padding: 16px;
      display: flex;
      top: -6px;
      left: 8px;
      &-container {
        margin-top: 16px;
      }
    }
  }
  h1 {
    width: 100%;
    max-width: 350px;
    font-size: 26px;
  }

  .promo__subheading {
    font-size: 14px;
    letter-spacing: normal;
  }
  .link-btn {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  h1 {
    width: 100%;
    max-width: 350px;
    font-size: 24px;
  }

  .promo__subheading {
    font-size: 13px;
    letter-spacing: normal;
  }
  .link-btn {
    font-size: 14px;
  }
  .promo__wrapper {
    padding: 26px 20px;
  }
}

@media (max-width: 1440px) {
  .develop {
    &__card {
      gap: 60px;
    }
  }

  .card {
    &__header {
      gap: 12px;
    }
    &__title {
      font-size: 28px;
    }
    &__info,
    &__time {
      font-size: 18px;
    }
    &__price {
      font-size: 32px;
    }
    &__button {
      &-details {
        font-size: 18px;
      }
      &-order {
        padding: 20px 70px;
        font-size: 18px;
      }
    }
  }

  .develop__benefit {
    &-title {
      font-size: 28px;
    }
    &-item {
      padding: 30px;
      font-size: 18px;
    }
    &-number {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1240px) {
  .develop {
    &__card {
      gap: 50px;
      padding: 40px 30px;
    }
  }
  .card {
    &__header {
      gap: 10px;
      &-descr,
      &-tarif {
        gap: 10px;
      }
    }
    &__title {
      font-size: 26px;
    }
    &__price {
      font-size: 26px;
    }
    &__button {
      &-details {
        font-size: 20px;
      }
      &-order {
        padding: 16px 60px;
        font-size: 18px;
      }
    }
  }

  .develop__benefit {
    &-title {
      font-size: 24px;
    }
    &-item {
      padding: 30px;
      font-size: 16px;
    }
    &-number {
      width: 46px;
      height: 46px;
    }
    &-text {
      max-width: 190px;
    }
  }
}

@media (max-width: 1040px) {
  .card {
    width: 33%;
    &__title {
      font-size: 22px;
    }
    &__info,
    &__time {
      font-size: 16px;
    }
    &__header {
      gap: 8px;
      &-descr,
      &-tarif {
        gap: 8px;
      }
    }
    &__for {
      font-size: 15px;
    }
    &__price {
      font-size: 22px;
    }
    &__button-order {
      padding: 14px 40px;
      font-size: 16px;
    }
    &__button-details {
      font-size: 16px;
    }
    &__body {
      gap: 10px;
    }
  }
  .develop {
    &__benefits {
      gap: 10px;
    }
    &__card {
      gap: 30px;
      padding: 20px 12px 30px;
      width: 33%;
    }
    &__cards {
      column-gap: 12px;
    }
  }
}

@media (max-width: 768px) {
  .develop {
    &__card {
      width: 47%;
    }
    &__cards {
      flex-wrap: wrap;
      row-gap: 60px;
      margin-top: 26px;
      justify-content: center;
      column-gap: 20px;
    }
    &__benefits {
      flex-direction: column;
      gap: 20px;
    }
  }

  .develop__benefit {
    &-grid {
      flex-wrap: wrap;
      width: 100%;
      gap: 14px;
    }
    &-title {
      font-size: 24px;
    }
    &-item {
      padding: 30px;
      font-size: 16px;
      text-align: center;
      justify-content: center;
    }
    &-item:nth-child(1),
    &-item:nth-child(2) {
      width: 47%;
    }
    &-item:nth-child(3) {
      width: 100%;
    }
    &-number {
      width: 46px;
      height: 46px;
    }
    &-text {
      max-width: 190px;
    }
  }
}

@media (max-width: 490px) {
  .develop {
    &__container {
      gap: 18px;
    }
    &__card {
      width: 100%;
      @include box-style-mb;
    }
    &__cards {
      flex-wrap: wrap;
      row-gap: 30px;
      margin-top: 36px;
      justify-content: center;
      column-gap: 20px;
    }
    &__benefits {
      flex-direction: column;
      gap: 12px;
    }
  }
  .card__before {
    height: 60px;
    bottom: 86%;
  }
  .card {
    &__header {
      gap: 10px;
      &-descr {
        width: 189px;
        gap: 5px;
      }
    }
    &__price {
      font-size: 20px;
    }
    &__info,
    &__time {
      text-align: right;
      font-size: 13px;
      line-height: normal;
    }
    &__for {
      font-size: 13px;
    }
    &__header-tarif {
      flex-direction: row;
      justify-content: space-between;
    }
    &__hr {
      height: 1px;
    }
    &__title {
      font-size: 17px;
      text-align: left;
    }
    &__button-order {
      padding: 10px 40px;
      font-size: 14px;
      top: -4px;
      left: 5px;
    }
    &__button-details {
      font-size: 14px;
    }
  }

  .develop__benefit {
    &-title {
      font-size: 18px;
    }
    &-item {
      padding: 18px;
      font-size: 16px;
      text-align: center;
      justify-content: center;
    }
    &-number {
      width: 26px;
      height: 26px;
      z-index: 1;
      font-size: 16px;
    }
    &-text {
      max-width: 160px;
      z-index: 2;
      font-size: 13px;
    }
    &-grid {
      gap: 12px;
    }
  }
}

@media (max-width: 1440px) {
  .how-we-do {
    &__block {
      padding: 30px;
      &-title {
        font-size: 18px;
      }
    }
    &__blockquote {
      font-size: 26px;
    }
    &__image {
      left: -20px;
    }
    &__container {
      gap: 30px;
    }
  }
}

@media (max-width: 1240px) {
  .how-we-do {
    &__blockquote {
      font-size: 22px;
    }
    &__image {
      left: 0px;
    }
    &-order {
      position: relative;
      background-color: $white;
      z-index: 2;
      padding: 16px 20px;
      display: flex;
      top: -6px;
      left: 7px;
    }
    &__quote {
      padding: 20px;
      padding-bottom: 0;
    }
    &__container {
      gap: 20px;
    }
  }
}

@media (max-width: 1040px) {
  .how-we-do {
    &__details {
      padding: 20px 40px;
    }
    &__blockquote {
      font-size: 19px;
    }
  }
}

@media (max-width: 768px) {
  .how-we-do {
    &__container {
      gap: 20px;
    }
    &__blocks {
      flex-wrap: wrap;
      gap: 14px;
    }
    &__block {
      width: 48%;
      &-title {
        font-size: 16px;
      }
      &-icon {
        height: 32px;
      }
    }
    &__details {
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 30px;
      &-container {
        gap: 36px;
      }
    }
    &__image {
      height: 350px;
    }
    &__detail {
      gap: 14px;
      &-subtitle {
        font-size: 24px;
      }
      &-text {
        font-size: 16px;
      }
    }
    &__quote {
      padding: 0px;
    }
    &__blockquote {
      font-size: 15px;
    }
  }
}

@media (max-width: 490px) {
  .how-we-do {
    &__block {
      width: 100%;
      padding: 30px 20px;
      &-title {
        font-size: 15px;
      }
      &-icon {
        height: 32px;
      }
    }
    &-order {
      font-size: 14px;
      top: -4px;
      left: 5px;
    }
    &__detail {
      gap: 10px;
      &-subtitle {
        font-size: 18px;
      }
      &-text {
        font-size: 15px;
      }
      &-title {
        font-size: 15px;
        max-width: 250px;
      }
    }
    &__image {
      height: 250px;
    }
    &__details {
      padding: 30px 20px 0;
      &-container {
        gap: 18px;
      }
    }
    &__quote {
      padding: 0px;
      margin-top: 8px;
    }
    &__blockquote {
      font-size: 14px;
    }
  }
}

@media (max-width: 1440px) {
  .marketing {
    &__offer {
      &-order {
        padding: 20px 70px;
      }
    }
    &__guarantee {
      &-title {
        font-size: 28px;
      }
    }
    .steps {
      &__container {
        gap: 30px;
      }
    }
    &__step {
      gap: 10px;
      &-text {
        font-size: 16px;
      }
      &-num {
        font-size: 20px;
      }
      &-icon {
        height: 40px;
      }
    }
  }
}

@media (max-width: 1240px) {
  .marketing {
    &__offer {
      padding: 40px 30px;
      &__cost {
        font-size: 21px;
        margin-bottom: 10px;
      }
      &-order {
        padding: 16px 60px;
        font-size: 16px;
      }
    }
    &__guarantee {
      &-title {
        font-size: 24px;
      }
    }
  }
  .steps {
    &__container {
      gap: 20px;
    }
    &__item {
      padding: 30px;
      gap: 10px;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      gap: 10px;
    }
  }
}

@media (max-width: 1040px) {
  .marketing {
    &__offer {
      padding: 20px 12px 30px;
      gap: 30px;
      &__cost {
        font-size: 21px;
        margin-bottom: 10px;
      }
      &-order {
        padding: 14px 40px;
        font-size: 16px;
      }
      &__title {
        font-size: 20px;
        margin-bottom: 0;
      }
      &__cost {
        font-size: 18px;
      }
      &-details {
        font-size: 16px;
      }
      &__pricing {
        gap: 10px;
      }
      &__header {
        gap: 8px;
      }
    }
    &__steps {
      width: 96%;
    }
    &__offer::before {
      content: "";
      top: -3px;
      background-image: url("../images/icons/marketing/marketing-offer.svg");
      width: 58px;
      height: 18px;
      left: calc(50% - 29px);
    }
    &__guarantee {
      margin-top: 30px;
    }
  }
  .learn {
    &__container {
      margin-top: 30px;
      gap: 0px;
      padding: 20px 20px 0;
      .how-we-do__detail-btn {
        margin-top: 10px;
      }
    }
    &__image {
      height: 260px;
      &-wrapper {
      }
    }
    &__title {
      font-size: 20px;
    }
    &__info {
      gap: 20px;
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .marketing {
    &__offers {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      column-gap: 20px;
    }
    &__offer {
      padding: 20px 12px 30px;
      width: 47%;
      gap: 30px;
    }
    &__subtitle {
      font-size: 18px;
      margin-bottom: 16px;
    }
    &__guarantee {
      flex-direction: column;
      align-items: center;
    }
    &__steps {
      width: 100%;
      gap: 10px;
      justify-content: space-between;
    }
    &__step {
      padding: 20px;
      &-item {
      }
      &-icon {
        height: 32px;
      }
      &-num {
        font-size: 18px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
  .learn {
    &__container {
      margin-top: 30px;
      flex-direction: column-reverse;
      gap: 20px;
      padding: 30px 20px 0;
      .how-we-do__detail-btn {
        margin-top: 10px;
      }
    }
    &__image {
      height: 240px;
      &-wrapper {
      }
    }
    &__title {
      font-size: 18px;
    }
    &__info {
      gap: 20px;
      font-size: 16px;
    }
  }
  .steps {
    &__container {
      gap: 20px;
    }
    &__item {
      padding: 30px;
      gap: 0px;
    }
    &__title {
      font-size: 16px;
    }
    &__icon {
      height: 38px;
    }
    &__list {
      gap: 14px;
    }
  }
}

@media (max-width: 490px) {
  .marketing {
    &__offers {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      column-gap: 20px;
    }
    &__offer {
      width: 100%;
      gap: 30px;
      border-radius: 12px;
      &__cost {
        margin-bottom: 0;
      }
      &-order {
        padding: 10px 40px;
        font-size: 14px;
        top: -4px;
        left: 5px;
      }
      &-details {
        font-size: 14px;
      }
    }
    &__subtitle {
      font-size: 16px;
      margin-bottom: 10px;
    }
    &__guarantee {
      gap: 12px;
      &-title {
        font-size: 18px;
      }
    }
    &__step {
      padding: 10px;
      width: 48%;
      &-item {
      }
      &-icon {
        height: 30px;
      }
      &-num {
        font-size: 18px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }
  .steps {
    &__item {
      width: 100%;
      padding: 30px 20px;
      gap: 0px;
    }
    &__title {
      font-size: 15px;
    }
    &__icon {
      height: 38px;
    }
    &__list {
      gap: 14px;
    }
  }
}

@media (max-width: 375px) {
  .marketing__steps {
    flex-wrap: wrap;
  }
}

@media (max-width: 1440px) {
  .about__container {
    gap: 30px;
  }
}

@media (max-width: 1240px) {
  .about__container {
    gap: 20px;
  }
  .about {
    &__content {
      padding: 20px 40px;
    }
    &__image {
      &-block {
        height: 380px;
        width: 45%;
      }
    }
    &__text {
      &-block {
        max-width: 50%;
        gap: 16px;
        font-size: 16px;
      }
      span {
        font-size: 18px;
      }
    }
    &__values {
      flex-wrap: wrap;
      row-gap: 20px;
    }
    &__value {
      width: 49%;
      padding: 30px;
      gap: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    &__icon {
      position: relative;
      right: 0;
      height: 40px;
    }
  }

  .value {
    &__title {
      font-size: 16px;
    }
  }
}
@media (max-width: 1040px) {
  .about {
    &__content {
      padding: 20px 30px;
      gap: 12px;
    }
    &__image {
      &-block {
        height: 360px;
        width: 50%;
      }
    }
    &__text {
      &-block {
        max-width: 50%;
        gap: 12px;
        font-size: 15px;
      }
      span {
        font-size: 16px;
      }
    }
    &__values {
      flex-wrap: wrap;
      row-gap: 20px;
    }
    &__value {
      width: 49%;
      padding: 30px;
      gap: 10px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      &-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    &__icon {
      position: relative;
      right: 0;
      height: 40px;
    }
  }

  .value {
    &__title {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__content {
      padding: 30px;
      flex-direction: column;
      gap: 10px;
    }
    &__image {
      &-block {
        height: 360px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    &__text {
      &-block {
        max-width: 100%;
        gap: 12px;
        font-size: 15px;
      }
    }
    &__values {
      flex-wrap: wrap;
      row-gap: 14px;
    }
    &__value {
      width: 48%;
      padding: 30px;
      gap: 2px;
      flex-direction: column;
      align-items: flex-end;
    }
    &__icon {
      position: relative;
      right: 0;
      height: 30px;
    }
  }

  .value {
    &__title {
      font-size: 16px;
    }
  }
}

@media (max-width: 490px) {
  .about {
    &__container {
      gap: 12px;
    }
    &__content {
      padding: 30px 20px;
      flex-direction: column;
      gap: 10px;
    }
    &__image {
      &-block {
        height: 320px;
        width: 100%;
      }
    }
    &__text {
      &-block {
        max-width: 100%;
        gap: 12px;
        font-size: 15px;
      }
    }
    &__values {
      flex-wrap: wrap;
      row-gap: 14px;
    }
    &__value {
      width: 100%;
      padding: 30px 20px;
      gap: 6px;
      flex-direction: row;
      align-items: flex-start;
    }
    &__icon {
      position: relative;
      right: 0;
      height: 30px;
    }
  }

  .value {
    &__title {
      font-size: 15px;
    }
    &-text {
      gap: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .contacts {
    &__form {
      &-block {
        position: relative;
        width: 48%;
        padding: 60px;
      }
    }
    &__brief {
      padding: 30px 60px;
      &-title {
        font-size: 24px;
      }
    }
    &__icon {
      position: absolute;
      z-index: 1;
      left: -12%;
      top: -9%;
      height: 220px;
    }
    &__phone {
      font-size: 30px;
    }
  }
}
@media (max-width: 1240px) {
  .contacts {
    &__title {
      font-size: 30px;
    }
    &__form {
      &-block {
        position: relative;
        width: 49%;
        padding: 40px;
      }
    }
    &__brief {
      padding: 30px 40px;
      &-title {
        font-size: 22px;
      }
    }
    &__icon {
      position: absolute;
      z-index: 1;
      left: -18%;
      top: -10%;
      height: 220px;
    }
    &__phone {
      font-size: 24px;
      text-align: center;
    }
    &__wrapper-block {
      width: 49%;
    }
  }
  .form {
    &-group {
      input {
        font-size: 16px;
      }
    }
    &-apperance {
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    &__container {
      flex-direction: column;
    }
    &__title {
      font-size: 24px;
    }
    &__description {
      max-width: 500px;
    }
    &__form {
      gap: 20px;
      align-items: center;
      &-block {
        position: relative;
        width: 100%;
        padding: 20px;
      }
      button {
        max-width: 500px;
        font-size: 16px;
        height: 50px;
      }
    }
    &__brief {
      padding: 30px 40px;
      &-title {
        font-size: 18px;
      }
      &-button {
        max-width: 500px;
        font-size: 16px;
        height: 50px;
      }
    }
    &__icon {
      position: absolute;
      z-index: 1;
      left: -18%;
      top: -8%;
      height: 120px;
    }
    &__phone {
      font-size: 20px;
      text-align: center;
    }
    &__email {
      font-size: 18px;
    }
    &__wrapper-block {
      width: 100%;
    }
  }
  .form {
    &-group {
      max-width: 500px;
      input {
        height: 50px;
        font-size: 15px;
      }
    }
    &-apperance {
      max-width: 500px;
      text-align: center;
      font-size: 13px;
    }
  }
}

@media (max-width: 490px) {
  .contacts {
    &__container {
      gap: 12px;
    }
    &__title {
      font-size: 18px;
    }
    &__description {
      max-width: 500px;
    }
    &__form {
      gap: 20px;
      align-items: center;
      gap: 12px;
      &-block {
        position: relative;
        width: 100%;
        padding: 30px 20px;
        gap: 12px;
      }
      button {
        font-size: 13px;
        height: 44px;
      }
    }
    &__brief {
      padding: 30px 20px;
      gap: 12px;
      &-title {
        font-size: 16px;
      }
      &-button {
        font-size: 13px;
        height: 44px;
      }
    }
    &__details {
      padding: 30px 20px;
      gap: 12px;
    }
    &__icon {
      position: absolute;
      z-index: 1;
      left: -18%;
      top: -8%;
      height: 120px;
    }
    &__phone {
      font-size: 18px;
      text-align: center;
    }
    &__email {
      font-size: 15px;
    }
    &__wrapper-block {
      width: 100%;
      gap: 12px;
    }
  }
  .form {
    &-group {
      max-width: 500px;
      input {
        height: 44px;
        font-size: 13px;
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1040px) {
  .footer {
    &__branding {
      img {
        height: 30px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__branding {
      align-items: center;
      p,a{
         text-align: center;
      }
    }
    &__policy{
      text-align: center;
    }
  }
}
