$black: #2F3338;
$white: #ffffff;
$orange: #F47E51;
$gray: #f1f3f5;

@mixin box-style {
   border-radius: 20px;
   box-shadow: 0 0 8px 0 #e3e4e4;
 }

 @mixin box-style-1240 {
   border-radius: 16px;
   box-shadow: 0 0 8px 0 #e3e4e4;
 }